.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .counter{
    border: 1px solid #333333;
    padding: 32px;
    margin:0 8px 8px 0;
    border-radius: 2px;
  }
 