.app {
    display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height:100vh;
    }
    .counter-reset-btn {
        font-size:8px;
        padding:4px 8px;
        border-radius: 2px;
        background-color: #ffff;
        cursor: pointer;
      }